{% extends "calculator-layout.html" %}
{% block title %}Risk Reward Ratio Calculators | {% endblock %}
{% block pagetitle %}Risk Reward Ratio Calculator{% endblock %}
{% block maincontent %}
<div class="smc-calculator-wrapper">
    <span class="smc-calculator-page-title">Risk Reward Ratio</span>
    <div class="smc-spacer"></div>
    <form method="POST" action="{{url_for('riskrewardratiomodule.riskrewardratio')}}" id="myForm">
        {{ form.csrf_token }}
        <div class="row">
            <div class="col">
                <!-- get Low value -->
                {{ form.currentPrice.label(for="currentPrice",class="smc-label")}}
                {{ form.currentPrice(class="smc-input",id="currentPrice",placeholder="Current Price",step="0.10") }}
                <!-- For Error -->
                <div class="smc-validation-err">
                    {% if form.currentPrice.errors %}
                    {% for error in form.currentPrice.errors %}
                    <span><i class="ri-error-warning-line"></i> {{ error }}</span>
                    {% endfor %}
                    {% endif %}
                </div>

            </div>
            <div class="col">
                <!-- get High value -->
                {{ form.stopLoss.label(for="stopLoss",class="smc-label")}}
                {{ form.stopLoss(class="smc-input",id="stopLoss",placeholder="Stop Loss",step="0.10") }}
                <!-- For Error -->
                <div class="smc-validation-err">
                    {% if form.stopLoss.errors %}
                    {% for error in form.stopLoss.errors %}
                    <span><i class="ri-error-warning-line"></i> {{ error }}</span>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="col">
                <!-- get High value -->
                {{ form.target.label(for="target",class="smc-label")}}
                {{ form.target(class="smc-input",id="target",placeholder="Target",step="0.10") }}
                <!-- For Error -->
                <div class="smc-validation-err">
                    {% if form.target.errors %}
                    {% for error in form.target.errors %}
                    <span><i class="ri-error-warning-line"></i> {{ error }}</span>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="smc-spacer"></div>
        <div class="row">
            <div class="col align-center">
                {{ form.submit(class="smc-button-lite") }}
            </div>
        </div>
    </form>
    <div class="spacer"></div>
    {% if result %}
    <div class="display-result">
        <div class="smc-result-box">
            <p class="smc-result-line"><b>Risk Reward Ratio is <span class="smc-result-span">{{ result['rrr']
                        }}</span></b></p>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}