{% extends "calculator-layout.html" %}
{% block title %}Stock Return Calculator | {% endblock %}
{% block pagetitle %}Stock Return Calculator{% endblock %}
{% block maincontent %}
<div class="smc-calculator-wrapper">
    <span class="smc-calculator-page-title">Stock Return</span>
    <div class="smc-spacer-3"></div>
    <form method="POST" action="{{url_for('stockreturnmodule.stockreturn')}}" id="myForm">
        {{ form.csrf_token }}
        <div class="row">
            <!-- Purchase Column-->
            <div class="col">
                <span class="smc-col-title">Purchase</span>
                <div class="smc-spacer"></div>

                <div class="container">
                    <!-- get Purchase Price -->
                    {{ form.purchasePrice.label(for="purchasePrice",class="smc-label")}}
                    {{ form.purchasePrice(class="smc-input",id="purchasePrice",placeholder="Price") }}
                    <!-- For Error -->
                    <div class="smc-validation-err">
                        {% if form.purchasePrice.errors %}
                        {% for error in form.purchasePrice.errors %}
                        <span><i class="ri-error-warning-line"></i> {{ error }}</span>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>

                <div class="container">
                    <!-- get Purchase Fee -->
                    {{ form.purchaseFee.label(for="purchaseFee",class="smc-label")}}
                    {{ form.purchaseFee(class="smc-input",id="purchaseFee",placeholder="Fee") }}
                    <!-- For Error -->
                    <div class="smc-validation-err">
                        {% if form.purchaseFee.errors %}
                        {% for error in form.purchaseFee.errors %}
                        <span><i class="ri-error-warning-line"></i> {{ error }}</span>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>

            <!-- Sold Column -->
            <div class="col">
                <span class="smc-col-title">Sold</span>
                <div class="smc-spacer"></div>

                <div class="container">
                    <!-- get Sold Price -->
                    {{ form.soldPrice.label(for="soldPrice",class="smc-label")}}
                    {{ form.soldPrice(class="smc-input",id="soldPrice",placeholder="Price") }}
                    <!-- For Error -->
                    <div class="smc-validation-err">
                        {% if form.soldPrice.errors %}
                        {% for error in form.soldPrice.errors %}
                        <span><i class="ri-error-warning-line"></i> {{ error }}</span>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>

                <div class="container">
                    <!-- get Sold Fee -->
                    {{ form.soldFee.label(for="soldFee",class="smc-label")}}
                    {{ form.soldFee(class="smc-input",id="soldFee",placeholder="Fee") }}
                    <!-- For Error -->
                    <div class="smc-validation-err">
                        {% if form.soldFee.errors %}
                        {% for error in form.soldFee.errors %}
                        <span><i class="ri-error-warning-line"></i> {{ error }}</span>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <!--another part-->
        <div class="smc-spacer"></div>
        <div class="row">
            <!--for year-->
            <div class="">
                <div class="container">
                    <!-- get year -->
                    {{ form.year.label(for="year",class="smc-label")}}
                    {{ form.year(class="smc-input",id="year",placeholder="Year") }}
                    <!-- For Error -->
                    <div class="smc-validation-err">
                        {% if form.year.errors %}
                        {% for error in form.year.errors %}
                        <span><i class="ri-error-warning-line"></i> {{ error }}</span>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="">
                <div class="container">
                    <!-- get Share Owned -->
                    {{ form.sharesOwned.label(for="sharesOwned",class="smc-label")}}
                    {{ form.sharesOwned(class="smc-input",id="sharesOwned",placeholder="Shares Owned") }}
                    <!-- For Error -->
                    <div class="smc-validation-err">
                        {% if form.sharesOwned.errors %}
                        {% for error in form.sharesOwned.errors %}
                        <span><i class="ri-error-warning-line"></i> {{ error }}</span>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="">
                <div class="container">
                    <!-- get tax -->
                    {{ form.tax.label(for="tax",class="smc-label")}}
                    {{ form.tax(class="smc-input",id="tax",placeholder="Tax (%)") }}
                    <!-- For Error -->
                    <div class="smc-validation-err">
                        {% if form.tax.errors %}
                        {% for error in form.tax.errors %}
                        <span><i class="ri-error-warning-line"></i> {{ error }}</span>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="smc-spacer"></div>
        <div class="container">
            {{ form.submit(class="smc-button-lite") }}
        </div>
    </form>

    <div class="spacer"></div>
    <div class="container">
        {% if result %}
        <div class="display-result">
            <table class="table table-striped table-dark table-borderless">
                <tbody>
                    <!-- <tr style="border-left: 5px solid violet;">
                    <td>Tax Amount</td>
                    <td>{{result['taxAmount']}}</td>
                </tr> -->
                    <tr style="border-left: 5px solid indigo;">
                        <td>Return On Investment (ROI)</td>
                        <td>{{result['roi']}} %</td>
                    </tr>
                    <tr style="border-left: 5px solid blue">
                        <td>Simple ROI</td>
                        <td>{{result['simpleRoi']}} %</td>
                    </tr>
                    <tr style="border-left: 5px solid red;">
                        <td>Compound ROI</td>
                        <td>{{result['compoundRoi']}} %</td>
                    </tr>
                    <tr style="border-left: 5px solid green;">
                        <td>Gain or Loss</td>
                        <td>{{result['gainLoss']}}</td>
                    </tr>
                    <tr style="border-left: 5px solid yellow;">
                        <td>Investment Period</td>
                        <td>{{result['investmentPeriod']}} Year/s</td>
                    </tr>
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}