<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}Stock Market Calculator</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
</head>

<body>
    <nav class="smc-page-navbar navbar">
        <div class="d-flex flex-row bd-highlight">
            <div class="bd-highlight">
                <a href="/" class="smc-back-arrow navbar-brand"><i class="ri-arrow-left-line"></i></a>
            </div>
            <div class="pt-2 bd-highlight">
                <span class="smc-page-title">{% block pagetitle %}{% endblock %}</span>
            </div>
        </div>
    </nav>
    <div class="container-fluid smc-calculator-main-section">
        <div class="row">
            <div class="col-sm-9 smc-main-content">
                {% block maincontent%}
                {% endblock %}
            </div>
            <div class="col-sm-3 smc-sidebar">
                <!--                <select class="form-group">-->
                <!--                    <option>Select</option>-->
                <!--                </select>-->

                <!--                <button class="btn btn-primary">Get Stock</button>-->
            </div>
        </div>
    </div>
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>

</body>

</html>